body{
    background-color: rgb(29, 29, 29);
}

header{
    background-color: black;
    color:white;
    padding: 25px;
}

a{
    color:white;
    margin-left: 55px;
    font-size: 20px;
    text-decoration: none;
}

h1 {
  color: white;
  font-size: 40px;
  text-align: center;
}

h2 {
  color: white;
}

p {
  color: white;
}

.slider{    
    margin-top: 15px;
    background-color: black;
}

.img-center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div.gallery {
  margin: 5px;
  float: left;
  width: 400px;
  margin-left: 50px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
}

/* Three columns side by side */
.column {
  float: left;
  width: 32%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}